.user-details {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.user-details-form {
  max-width: 500px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 40px;
  margin-top: 20px;
  border-radius: 10px;
  border: 1px solid tomato;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}
.user-details-form-section1 {
  width: 100%;
  max-width: max(30%, 500px);
}

.user-details-form-item input,
.user-details-form-item select {
  margin-bottom: 15px;
  width: 100%;
  padding: 10px;
  border: 1px solid #e5e5e5;
  border-radius: 4px;
  outline-color: tomato;
}
.user-details-form-item {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.user-details-form-section1 p {
  /* color: tomato; */
  font-weight: 500;
}
.user-details-multi-fileds {
  margin-top: 20px;
  display: flex;
  gap: 10px;
  align-items: center;
}
.user-details-display {
  margin-top: 30px;
}
.user-details-multi-fileds p {
  width: 30%;
}
.user-details-multifields {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  align-items: center;
}

.user-details-submit-btn {
  width: 100%;
  margin-top: 20px;
  padding: 10px;
  background-color: tomato;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.image-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.family-photo {
  width: 500px; /* Adjust size as needed */
  height: 350px;
  object-fit: cover;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  border: 3px solid black;
}
