.Admin-list {
  width: 70%;
  color: #6d6d6d;
  font-size: 16px;
  margin-top: 50px;
  margin-left: max(5vw, 25px);
}

.list-table {
  border: 1px solid #cacaca;
  border-radius: 10px;
  overflow: hidden;
}

.list-table-format {
  display: grid;
  grid-template-columns: 0.6fr 2fr 1fr 1fr 0.5fr;
  align-items: center;
  gap: 10px;
  padding: 12px 15px;
  font-size: 14px;
  transition: background 0.3s ease;
}

.list-table-format:hover {
  background-color: #f1f1f1;
}

.list-table-format img {
  width: 90px;
  border-radius: 5px;
}

@media (max-width: 600px) {
  .list-table-format {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 15px;
  }
  .list-table-format.title {
    display: none;
  }
}
